---
import Title from '../atoms/Title.astro';
import "./Equipo.css"
---

<section id="equipo" class="team">
  <div class="team__container">
    <Title margin="1rem" contenido="Equipo NexusTech" />
    <div class="team__cards">
      <div class="team__card">
        <img class="team__img" src="/img/Juan.jpg" alt="Foto de perfil de Miembro 1" />
        <h3 class="team__name">Juan Manuel Malaver</h3>
        <p class="team__position">Co-Founder</p>
      </div>
      <div class="team__card">
        <img class="team__img" src="/img/Sebastian.jpeg" alt="Foto de perfil de Miembro 2" />
        <h3 class="team__name">Edwar Jair Gaona</h3>
        <p class="team__position">Co-Founder</p>
      </div>
      <div class="team__card">
        <img class="team__img" src="/img/Sebastian.jpeg" alt="Foto de perfil de Miembro 3" />
        <h3 class="team__name">Juan Sebastian Suarez</h3>
        <p class="team__position">Desarrollador de Software</p>
      </div>
    </div>
  </div>
</section>

