---
import './hero.css';
import Boton from '../atoms/Boton.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">NexusTech</h1>
			<p class="hero__text">
				Navegando juntos hacia un futuro digital sin límites.
			</p>
			<Boton href="https://api.whatsapp.com/send?phone=+573144025396&amp;text=%C2%A1Hola!%20%F0%9F%91%8B%20Bienvenido%20a%20NexusTech.%20%C2%BFEn%20qu%C3%A9%20podemos%20ayudarte%20hoy?" texto="Quiero saber más"/>
		</div>
    <img
		class="hero__img"
		src="/img/jhon-doe.webp"
		alt="NexusTech"
		width="384"
    	height="384"
	/>
	</div>
</section>
