---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			En NexusTech, nos especializamos en el desarrollo de software a medida y en la creación de aplicaciones móviles innovadoras. Nuestro enfoque incluye tecnologías avanzadas como inteligencia artificial, machine learning y desarrollo web, garantizando soluciones técnicas de alto rendimiento que impulsan el éxito empresarial.
		</p>
	</div>
</section>
