---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import "./about.css"


---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/monachina2.jpg"
			alt="Foto de perfil de Jhon Doe"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="Sobre nosotros" />
			<p class="about__text">
				Somos una empresa dedicada al desarrollo de software a medida y a la creación de soluciones innovadoras que transforman negocios y mejoran la vida de las personas. En NexusTech, combinamos creatividad, calidad y compromiso para impulsar el éxito de nuestros clientes en un mundo digital en constante evolución.
			</p>
			<SocialIcons width="25" height="25"/>
		</div>
	</div>

</section>
