---
import './stylepos.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Opciones de Pago</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="stylesheet" href="stylepos.css" />
	</head>
	<body>
		<div class="background-image">
			<h1 class="title">
				<b
					>Comience a facturar y llevar el inventario de su negocio
					con el sistema POS de NexusTech</b>
			</h1>
			<a href="#planes" class="comenzar">Comenzar</a>
		</div>
		<div>
      <img src="/img/retrato-hombre-guapo-sonriente-anteojos.png" alt="Descripción de la imagen" class="centered-image">
		</div>
		<div class="card-container" id="planes">
			<div class="card">
				<h2>PAGO MENSUAL</h2>
				<p class="price">$80.000</p>
				<ul>
					<li>✅ SIN LÍMITE DE USUARIOS</li>
					<li>
						✅ Acceso al software por internet y soporte técnico por
						(1) mes
					</li>
					<li><b>❗No incluye costos de instalación</b></li>
					<li>✅ Capacitación virtual personalizada</li>
					<li><b>❗Incluye facturación electrónica POS</b></li>
				</ul>
				<button>Comprar</button>
			</div>

			<div class="card">
				<h2>PAGO ANUAL</h2>
				<p class="price">$720.000</p>
				<p class="description">VALOR MENSUAL $60.000</p>
				<ul>
					<li>✅ SIN LÍMITE DE USUARIOS</li>
					<li>✅ Soporte técnico por (1) año</li>
					<li>✅ Instalación gratis</li>
					<li>✅ Capacitación virtual personalizada</li>
					<li><b>❗Incluye facturación electrónica POS</b></li>
				</ul>
				<button>Comprar</button>
			</div>

			<div class="card">
				<h2>PAGO ÚNICO</h2>
				<p class="price">$1'990.000</p>
				<ul>
					<li>✅ SIN LÍMITE DE USUARIOS</li>
					<li>✅ Acceso sin límite de tiempo</li>
					<li>✅ Soporte técnico por (1) año</li>
					<li>
						✅ Incluye instalación del software directamente en su
						equipo
					</li>
					<li>✅ Capacitación virtual personalizada</li>
					<li>
						✅ Puede tener el número de equipos que la red local le
						permita
					</li>
				</ul>
				<button>Comprar</button>
			</div>
		</div>
    <div class="back-link">
      <a href="/">Ir a NexusTech</a>
    </div>
    <div class="final">
      <div>
        <h1 class="subtitle subtfinal">¿Tiene alguna pregunta?</h1>
        <p class="description descfinal">
          Póngase en contacto con nosotros para obtener más información.
        </p>
        <div class="contact-info">
          <p><b>Correo electrónico:</b> info@nexus-tech.co</p>
          <p><b>Teléfono:</b> +57 320 259 4521</p>
        </div>
      </div>
      <div class="footer">
        <p>© 2023 NexusTech. Todos los derechos reservados.</p>
      </div>
    </div>

	</body>
</html>
