---
import Title from '../atoms/Title.astro';
import "./Clientes.css";
---

<section id="clientes" class="clients">
  <div class="clients__container">
    <Title margin="1rem" contenido="Nuestros Clientes" />
    <div class="clients__carousel">
      <div class="client__logo"><img src="/img/cocacola.png" alt="Cliente 1" class="gray" /></div>
      <div class="client__logo"><img src="/img/cocacola.png" alt="Cliente 2" class="gray" /></div>
    </div>
  </div>
</section>


